YOLOv8/.comet.config
YOLOv8/yolov8x-seg.pt
yolov8x-seg.pt
.comet.config
yolov8n.pt
*/*/*/*/*.pt
YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_base
YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_augmented
nohup.out
