mask-r-cnn/__pycache__
mask-r-cnn/utils/__pycache__
mask-r-cnn/augmentations/__pycache__
.comet.config
mask-r-cnn/utils/comet_api_key.txt
mask-r-cnn/_output/eval/instances_predictions.pth
mask-r-cnn/_output/evaluation/instances_predictions.pth
temp_link
YOLOv8/.comet.config
YOLOv8/yolov8x-seg.pt
yolov8x-seg.pt
yolov8n-seg.pt
.comet.config
yolov8n.pt
*/*/*/*/*.pt
*/*.pt
YOLOv8/building-facade-segmentation-instance-1/dataset_complete
runs
linux cmd.txt

YOLOv8/temp_link
YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_base
YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_augmented



YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_nano
YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_lr
mask-r-cnn/_output/model_final.pth
mask-r-cnn/_output/last_checkpoint

YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_grayscale
YOLOv8/building-facade-segmentation-instance-1/test_grayscale
YOLOv8/building-facade-segmentation-instance-1/train_grayscale
YOLOv8/building-facade-segmentation-instance-1/valid_grayscale

YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_CLAHEbw2
YOLOv8/building-facade-segmentation-instance-1/test_processedCLAHEbw2
YOLOv8/building-facade-segmentation-instance-1/train_processedCLAHEbw2
YOLOv8/building-facade-segmentation-instance-1/valid_processedCLAHEbw2

YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_CLAHEbw40
YOLOv8/building-facade-segmentation-instance-1/test_processedCLAHEbw40
YOLOv8/building-facade-segmentation-instance-1/train_processedCLAHEbw40
YOLOv8/building-facade-segmentation-instance-1/valid_processedCLAHEbw40

YOLOv8/building-facade-segmentation-instance-1/runs/YOLOv8_CLAHEcol40
YOLOv8/building-facade-segmentation-instance-1/test_processedCLAHEcol40
YOLOv8/building-facade-segmentation-instance-1/train_processedCLAHEcol40
YOLOv8/building-facade-segmentation-instance-1/valid_processedCLAHEcol40

nohup.out

